@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur/Tektur-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
    font-display: swap;
}