body {
    margin: 0;
}

.section_header_wrapper {
    color: inherit;
    width: 100%;
}

.section_header_wrapper h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_content {
    color: aliceblue;
    background-color: rgba(21, 9, 27, 0.918);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about_me {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2vh;
    padding: 1vh;
    justify-content: space-between;
}

.about_me_profile_image {
    border: none;
    border-radius: 20px;
    width: 300px; /* Фиксированная ширина для изображения */
    height: auto;
    flex-shrink: 0; /* Запрещаем изображению сжиматься */
}

.article_about_me {
    max-width: 60%;
    margin-right: 3vh;
}

.about_me_links {
    max-width: 10%;
    /* margin-left: 1vh; */
}