body {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(67, 97, 238);
    transition: color 0.3s;
}

a:hover {
    color: azure;
}

.section_header_wrapper {
    color: inherit;
    background-color: rgba(58, 12, 163, 1);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1vh;
    padding: 0.5vh;
    transition: background-color 0.5s;
}

.section_header_wrapper:hover {
    background-color: rgba(86, 11, 173, 1);
}

.section_header_wrapper h2 {
    font-family: 'Tektur', 'Orbitron', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_content {
    color: aliceblue;
    background-color: rgba(2, 3, 20, 1);
    font-family: 'Tektur', 'Orbitron', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about_me {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 2vh;
    padding: 1vh;
    justify-content: space-between;
}

.about_me_profile_image {
    border: none;
    border-radius: 20px;
    width: 300px; /* Фиксированная ширина для изображения */
    height: auto;
    flex-shrink: 0; /* Запрещаем изображению сжиматься */
    box-shadow: 3px 3px 10px rgba(181, 23, 158, 1);
    transition: box-shadow 0.8s;
}

.about_me_profile_image:hover {
    box-shadow: -3px -3px 10px rgba(181, 23, 158, 1);
}

.article_about_me {
    max-width: 60%;
    margin-right: 3vh;
}

.article_header_wrapper {

}

.about_me_links {
    max-width: 10%;
    /* margin-left: 1vh; */
}